{% extends ['page.html.twig', '_default/page.html.twig'] %}

{% block content %}
{{ parent() }}
<ul>
  {%- for term in page.terms ~%}
  <li>
    <h2><a href="{{ url(term.id, {language: site.language}) }}">{{ term.name }}</a> ({{ term|length }})</h2>
    <ul>
      {%- for page in term ~%}
      <li><a href="{{ url(page) }}">{{ page.title }}</a></li>
      {%- endfor ~%}
    </ul>
  </li>
  {%- endfor ~%}
</ul>
{% endblock content %}